.registerContainer{
    background-color: #032663;
    color: #F7EA6A;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registerContainer .card{
    background-color: #032663 !important;
    color: #F7EA6A !important;
}
.registerContainer form{
    border: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.registerContainer form label{
    font-weight: bolder;
}
.registerBtn{
    background-color: #fc03f4;
    color: #032663;
    border-radius: 5px;
    border: 1px solid #fc03f4;
    font-weight: bolder;
}
.form-error{
    color: red;
    text-align: center;
    font-weight: 600;
}